<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="syng" translate="label" sortOrder="200">
            <label>Sysforall</label>
        </tab>
        <section id="sysforall" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Disabled Products Redirect</label>
            <tab>syng</tab>
            <resource>Sysforall_DisabledProductsRedirect::disabledproductsredirect</resource>
            <group id="disabled_products_redirect" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Redirection Message</label>
                <field id="redirection_message" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Message for users who try to go to a disabled product URL</label>
                    <comment>Leave empty if you want the defaul message: "The product you tried to view is not available but here are some other options instead"</comment>
                </field>
            </group>
        </section>
    </system>
</config>
